<launch>
  
  <arg name="identity" default="default"/>

  <node pkg="sd_execute_node" type="sd_execute_node.py" name="cmd_executor">
    <param name="device" value="1" />
    <param name="topic_execute" value="mat_central/execute" />
    <param name="identity" value="$(arg identity)"/>
  </node>


</launch>
